:root {
    --pink: #f4017e;
    --contrast-green: #00fe0d;
    --lite-green: #01ee8f;
    --dark-green: #03ceac;
    --green-blue: #60e5ff;
    --lite-blue: #42beff;
    --dark-blue: #006eff;
    --yellow: #fc0;
    --orange: #ffa200;
    --red: #ff4b00;
  }
  