.logo {
    .sm {
        @media (min-width: 0px) and (max-width: 768px) {
            width: 101px;
        }
        @media (min-width: 768px) {
            width: 84px;
        }
    }

    .lg {
        width: 137px;
    }
}